body {
	margin:0;
	background-color: #222222;
	color: #dddddd;
}

a:link {
	color: #6666ff;
	background-color: transparent;
}

a:visited {
	color: #aa66aa;
	background-color: transparent;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}
