
Click this button if you are allergic to honorifics: <button onclick="localizeToggle()">Localize Toggle</button>

<div id="result"></div>

<script>
if (typeof(Storage) === "undefined") {
  document.getElementById("result").innerHTML = "Sorry, your browser does not support web storage.";
}

if (localStorage.getItem("localize") &&
localStorage.getItem("localize") === "true")
{
document.getElementById("result").innerHTML = "Localization ON";
}
else
{
document.getElementById("result").innerHTML = "Localization OFF";
}
</script>

<script>
function localizeToggle()
{
  if (localStorage.getItem("localize") &&
  	localStorage.getItem("localize") === "true")
  {
    localStorage.setItem("localize", "false")
  }
  else
  {
    localStorage.setItem("localize", "true")
  }
  
  location.reload();
}
</script>
