
<div class="overlay" id="overlay">
  <div class="text" id="overlaytext">Overlay Text</div>
</div>

<script>
let choiceList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];

let nameTable = [
	["Master", "Teacher"],
	["Urushi", "Jet"],
	["Alistair", "Aristea"],
	["Ashwrath", "Urslars"],
	["Bulbora", "Bulbola"],
	["Khanna", "Carna"],
	["Diaz", "Dias"],
	["Dovey", "du Vix"],
	["Elebent", "Elevent"],
	["Elsa", "Elza"],
	["Eliante", "Erianthe"],
	["Fanatics", "Fanatix"],
	["Felmus", "Phelms"],
	["Flut", "Fult"],
	["Forrund", "Forlund"],
	["Gamudo", "Gammod"],
	["Gordicia", "Goldicia"],
	["Intelligence Weapon", "Intelligent Weapon"],
	["Intelligence Weapons", "Intelligent Weapons"],
	["Jilbard", "Jillbird"],
	["Kranzel", "Granzell"],
	["Ladur", "Radule"],
	["Lady Blue", "Ladyblue"],
	["Rhyn", "Lene"],
	["Rigdis", "Rigdith"],
	["Satia", "Satya"],
	["Seedran", "Seedrun"],
	["Sword God Transformation", "Sword God Form"],
	["Weena", "Wina"],
	["Weena Rhyn", "Winalene"],
	["Zefmate", "Zehmet"],
	["Zelos Reed", "Theraclede"],
];

let tableVersion = 2;

function changeName() {
	choiceId = arguments[0];
	prevNameId = choiceList[choiceId];
	newNameId = (prevNameId + 1) % nameTable[choiceId].length;
	choiceList[arguments[0]] = newNameId;
	localStorage.setItem("choiceList", JSON.stringify(choiceList))

	var element = document.getElementsByClassName("post-content e-content")[0];
	var re = new RegExp(nameTable[choiceId][prevNameId] + "\\b", "g");
	element.innerHTML = element.innerHTML.replace(re, nameTable[choiceId][newNameId]);

	document.getElementById("overlaytext").innerHTML = "Changed " + nameTable[choiceId][prevNameId] + " to " + nameTable[choiceId][newNameId] + ".";
	overlayOn();
}

function init() {
	prevTableVersion = localStorage.getItem("tableVersion");
	if (prevTableVersion && (prevTableVersion != tableVersion)) {
		localStorage.removeItem("choiceList");
	}
	localStorage.setItem("tableVersion", tableVersion);

	savedList = localStorage.getItem("choiceList");
	if (savedList) {
		savedChoiceList = JSON.parse(savedList);
		for (const [choiceId, nameId] of savedChoiceList.entries())
		{
			choiceList[choiceId] = nameId;
		}
	}

	var element = document.getElementsByClassName("post-content e-content")[0];

	// The terms Weena and Rhyn are substrings of the longer term Weena Rhyn,
	// this causes the shorter terms to be nested inside the longer one
	// when the changer spans are added. To avoid this, we need to temporarily
	// replace the longer term with a placeholder, to prevent it from matching
	// the shorter ones later on, meaning we need to sort them by length before processing.

	var replacements = {};

	// Sort nameTable by the length of the original name.
	nameTable.sort((a, b) => b[0].length - a[0].length);

	for (const [choiceId, nameList] of nameTable.entries()) 
	{
		if (choiceId >= choiceList.length) {
			continue;
		}

		if (choiceList[choiceId] >= nameList.length) {
			continue;
		}

		var originalName = nameList[0];
		var replacementName = nameList[choiceList[choiceId]];

		var placeholder = `%%PLACEHOLDER_${choiceId}%%`;
		replacements[placeholder] = `<span onclick="changeName(${choiceId})">${replacementName}</span>`;

		var re = new RegExp(`\\b${originalName}\\b`, "g");

		element.innerHTML = element.innerHTML.replace(re, placeholder);	
	}

	// Replace all placeholders with their final replacements.
	for (const [placeholder, finalReplacement] of Object.entries(replacements)) {
		element.innerHTML = element.innerHTML.replace(new RegExp(placeholder, 'g'), finalReplacement);
	}
}

function overlayOn() {
	document.getElementById("overlay").style.opacity = 1;
	document.getElementById("overlay").style.zIndex = 2;
	setTimeout(overlayOff, 3000);
}

function overlayOff() {
	document.getElementById("overlay").style.opacity = 0;
	document.getElementById("overlay").style.zIndex = -1;
}
</script>

<script> init(); </script>
